---
import { Image } from "astro:assets"
import logoWithText from "../assets/logos/logoTextSide.png"
import logo from "../assets/logos/logo.png"
import LinkedInSvg from "./icons/LinkedInSvg.astro";
import MailSvg from "./icons/MailSvg.astro";
import { navLinks } from "../data/navLinks"
---

<nav class="h-20 flex justify-between items-center px-6 bg-transparent font-heading tracking-wide uppercase">

    <Image src={logoWithText} alt="Pennine Digital Logo" class="w-44"></Image>

  <!-- decktop menu -->
  <ul class="hidden lg:flex gap-5">
    {navLinks.map((link,i)=>{
      const isLast = i === navLinks.length - 1;

      return (
        <li>
          <a
            href={link.href}
            class=`hover:text-secondary ${
              isLast
                ? "border border-accent px-2 py-1 rounded-full"
                : ""
            }`
          >
        {link.label}
          </a>
        </li>
      )
    })}
  </ul>

  <!-- Mobile Button -->
  <button 
    id="menu-btn"
    class=" lg:hidden flex flex-col justify-center items-center w-10 h-10 space-y-1 focus:outline-none cursor-pointer"
    aria-label="Toggle Menu"
  >
    <span class="hamburger-bar transition-transform"></span>
    <span class="hamburger-bar transition-opacity"></span>
    <span class="hamburger-bar transition-transform"></span> 
  </button>
  
  <!-- Mobile Sidebar -->
  <div id="mobile-menu" class="p-4 z-50 lg:hidden fixed left-0 top-0 h-full w-2/3 bg-dark/90 backdrop-blur-md transform -translate-x-full transition-all duration-700 ease-in-out opacity-0 text-light overflow-y-scroll">
    
    <Image src={logo} alt="Pennine Digital Logo" class="w-16"></Image>
    <span class="text-xl font-light">Pennine Digital</span>
    
    <div class="w-full h-[.5px] bg-secondary/60 mt-6"></div>

    <ul class="flex flex-col justify-center gap-6 text-2xl px-4 py-24">
      {navLinks.map((link,i)=>{

        return (
          <li>
            <a
            class="hover:text-secondary"
            href={link.href}
            >
              {link.label}
            </a>
          </li>
        )
      })}
    </ul>

    <div class="w-full h-[.5px] bg-secondary/60 mb-6"></div>

    <div class="capitalize text-xs">
      
      <div class="flex flex-col gap-2">
        <a class="tracking-widest" href="tel:+447930971103">Phone +44 7930971103</a>
        <a class="lowercase tracking-widest" href="mailto:info@penninedigital.co.uk">info@penninedigital.co.uk</a>
      </div>

      <div class="mt-16">
        <p>&copy; 2026 Pennine Digital</p>
        <p>Based in West Yorkshire</p>    
      </div>

    </div>
    
    
  </div>
</nav>

<style>
  /* Mobile nav btn toggle */
#menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
#menu-btn.open span:nth-child(2) {
  opacity: 0;
}
#menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
</style>

<script>
  const menuBtn = document.getElementById("menu-btn")
  const mobileMenu = document.getElementById("mobile-menu")

  const toggleMenu = ()=>{
    menuBtn?.classList.toggle("open")
    mobileMenu?.classList.toggle("-translate-x-full")
    mobileMenu?.classList.toggle("opacity-0")
    document.body.classList.toggle("overflow-hidden")
  }

  menuBtn?.addEventListener("click", toggleMenu)
</script>