---
const { title, description, image, href, subtitle, note } = Astro.props;
import { Image } from "astro:assets";
---

<a href={href} class="group overflow-hidden">
  <div class="overflow-hidden">
    <Image
      src={image}
      alt={title}
      class="w-full h-auto object-cover transition-all duration-500 saturate-0 group-hover:scale-[1.03] group-hover:saturate-100"
    />
  </div>

  <div class="bg-accent/5 p-4">
    <h3 class="font-heading text-3xl text-brand-200">{title}</h3>

    <h4 class="text-highlight uppercase">{subtitle}</h4>

    <p class="text-brand-200/80 leading-relaxed mt-4">
      {description}
    </p>
    {note && <p class="text-brand-200/60 italic mt-4">{note}</p>}
  </div>
</a>
